body {
    background-color: #40407a;
    /* font-family: cursive; */
}

.quiz-container {
    background-color: whitesmoke;
    border-left: 4px solid #1da1f2;
    display: block;
    width: 50em;
    height: 20rem;
    position: absolute;
    inset: 20vh 0 0 20vw
}

.quiz-container span {
    font-weight: 300;
}

.qno {
    position: absolute;
    inset: 11vh 0 0 -50vw;
    font-size:smaller;
}

button {
    color: whitesmoke;
    font-weight:lighter;
}

/* OPTIONS BUTTONS */
.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: space-around;
    justify-content: space-around;
    height: 7em;
    position: relative;
    inset: 3vh 0 0 0;

}

.options button {
    background-color: #1da1f2;
    justify-self: center;
    width: 25em;
    height: 3em;
    border-radius: 30px;
    border: none;
}

/* ACTION BUTTONS */
.btns {
    height: 4em;
    width: 25em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    position: relative;
    inset: 5vh 0 0 14vw;
}

.btns button {
    align-self: center;
    width: 7em;
    height: 2.7em;
    border: none;
}

#acton-previous{
    background-color: #0C85D0;
}

#acton-next{
    background-color: #57B846;
} 

#acton-quit{
    background-color: #EA4355;
} 